<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml" xmlns:font-family="http://www.w3.org/1999/xhtml"
      xmlns:width="http://www.w3.org/1999/xhtml" xmlns:height="http://www.w3.org/1999/xhtml"
      xmlns:font-weight="http://www.w3.org/1999/xhtml" xmlns:box-shadow="http://www.w3.org/1999/xhtml"
      xmlns:color="http://www.w3.org/1999/xhtml" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:background-color="http://www.w3.org/1999/xhtml" xmlns:background="http://www.w3.org/1999/xhtml"
      xmlns:border="http://www.w3.org/1999/xhtml" xmlns:padding="http://www.w3.org/1999/xhtml"
      xmlns:line-height="http://www.w3.org/1999/xhtml" xmlns:cursor="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>三元组知识库数据生成系统</title>
      {% load static %}
    <link rel="stylesheet" href="{% static 'css/searchingpage.css' %}" type="text/css" media="all">
</head>
<body style="height: auto;
    width: auto;
    background-color: powderblue">
       <table class="userInfo"   width="60%" align="center" font-family: 幼圆 style="margin-top: 100px" >
              <tr align="left">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>

              </tr>
              <tr >
                  <form action={% url "cancellation" %} method="post">
                      <td colspan="4" align="left" font-family: 幼圆;>
                        <a> <h3 font-family: 幼圆;>当前用户：{{ username }}</h3>
                            <input type="submit" value="注销" class="submit"style="cursor: pointer;
               width: 102px;
               height: 38px;
               line-height: 38px;
               padding: 0;
               border: 0;
               background: none;
               background-color: #38f;
               font-size: 16px;
               color: white;
               box-shadow: none;
               font-weight: normal;" >
                            {% csrf_token %}
                        </a>

                      </td>
                   </form>
              </tr>
       </table>
        <form id="index",action={% url "index" %} method="post" text-align: center; style="margin-top: 50px">

              <h1 class="title" text-align: center; font-family: 幼圆;>基于三元组数据挖掘的知识库用户管理系统V1.0</h1>

            <a><input type="text"name="keyword" class="keyword" style="height: 20px;
            padding: 9px 7px;
            font: 16px arial;
            border: 1px solid #b8b8b8;
            border-bottom: 1px solid #ccc;
            border-right: 0;
            vertical-align: top;
            outline: none;
            box-shadow: none;
            width: 500px">
                  <input type="submit" value="提交" class="submit"style="cursor: pointer;
               width: 102px;
               height: 38px;
               line-height: 38px;
               padding: 0;
               border: 0;
               background: none;
               background-color: #38f;
               font-size: 16px;
               color: white;
               box-shadow: none;
               font-weight: normal;" >
                    {% csrf_token %}
            </a>

         </form>


      <table class="historyRecord"border="1" width="50%" align="center" font-family: 幼圆 style="margin-top: 50px" >

              <tr>
                 <th colspan="4"align="left"> 历史记录：</th>
              </tr>

              <tr align="center">
                  <th>主语</th>
                  <th>谓语</th>
                  <th>宾语</th>
                  <th>操作</th>
              </tr>
              {% for i in result %}
              <form action={% url "delete" %} method="post">
                 <tr align="center">
                    <input type="hidden"name="iId" value="{{ i.id }}">
                    <td>{{ i.subject }}</td>
                    <td>{{ i.predicate }}</td>
                    <td>{{ i.obj }}</td>
                    <td> <input type="submit" value="删除"style="cursor: pointer;
                              width: 102px;
                              height: 38px;
                              line-height: 38px;
                              padding: 0;
                              border: 0;
                              background: none;
                              background-color: #8ce3ff;
                              font-size: 16px;
                              color: white;
                              box-shadow: none;
                              font-weight: normal;" >
                        {% csrf_token %}
                    </td>
                 </tr>
              </form>
              {% endfor %}
                <tr >
                      <form action={% url "download" %} method="post">
                        <td colspan="4"align="center">

                             <input type="submit" value="下载"style="cursor: pointer;
                              width: 102px;
                              height: 38px;
                              line-height: 38px;
                              padding: 0;
                              border: 0;
                              background: none;
                              background-color: #8ce3ff;
                              font-size: 16px;
                              color: white;
                              box-shadow: none;
                              font-weight: normal;"  >
                              {% csrf_token %}
                        </td>

                      </form>
                 </tr>
      </table>

</body>
</html>